* {
  margin: 0;
  padding: 0;
}
.navigation {
  height: 74px;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font1);
}
.nav-left {
  font-size: 20px;
  display: flex;
}
.nav-left ul {
  display: flex;
  align-items: center;
  margin: 0 77px;
  font-size: 18px;
}
.nav-left ul li {
  list-style: none;
  margin: 0px 14px;
  font-family: var(--font2);
  transition: all 0.3s ease-in-out;

  
}
.nav-left ul li a {
  text-decoration: none;
  color: black;
 
}
.nav-left ul li a:hover{
    color: var(--main-bg-color);
    font-weight: bolder;
    
}
.nav-right {
}
.content {
  height: 395px;
  /* background-color: rgb(135, 135, 235); */
  display: flex;
  margin-top:32px;
  padding: 9px;
}
.content-left {
  font-family: var(--font1);
  
  display: flex;

  justify-content: center;
  flex-direction: column;
}
.content-right {
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-right img {
  height: 255px;
  border: 2px solid black;
  border-radius: 200px;
}

/* 
articles */
.home-articles{
height: 445px;
background-color: yellow;
}
.home-article{

}




.footer {
  height: 50px;
  background-color: rgb(34, 18, 18);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  
}
.footer a{
    color: white;
}
