* {
  margin: 0;
  padding: 0;
}
.navigation {
  height: 74px;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font1);
  margin-top: 22px;
}
.nav-left {
  font-size: 28px;
  display: flex;
}
.nav-left span {
  font-size: 35px;
  padding-top: 10px;
}

.nav-left ul {
  display: flex;
  align-items: center;
  margin: 0 77px;
  font-size: 18px;
}
.nav-left ul li {
  list-style: none;
  margin: 0px 14px;
  font-family: var(--font2);
  transition: all 0.3s ease-in-out;
}
.nav-left ul li a {
  text-decoration: none;
  color: black;
}
.nav-left ul li a:hover {
  color: var(--main-bg-color);
  font-weight: bolder;
}
.nav-right {
 
}
.content {
  height: 395px;
  /* background-color: rgb(135, 135, 235); */
  display: flex;
  margin-top: 32px;
  padding: 9px;
  position: relative;
}
.content::after {
  content: "";
  background-image: url("../img/2.jpg");
  position: absolute;
  width: 100%;
  height: inherit;
  opacity: 0.2;
  border-radius: 12px;
}
.content-left {
  font-family: var(--font1);
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}
.content-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-right img {
  height: 220px;
  border: 2px solid black;
  border-radius: 200px;
}

/* 
articles */
.home-articles {
  /* height: 445px; */
  background-color: rgb(236, 218, 200,0.5);
  padding: 18px;
  margin-top: 23px;
  position: relative;

}
.year-box{
  position: absolute;
  /* width: 35px;
  height: 455px; */
  
  right: 5px;
  top: 100px;
  width: 234px;
  height: 255px;
}
.year-box div{
  margin: 12px 0px;
}
.home-article {
  display: flex;
  margin: 25px;
}
.home-article img {
  width: 300px;
  /* height: 200px; */
}
.home-article-content {
  align-self: center;
  padding: 26px;
}

.home-article-content a{
  text-decoration: none;
  color: black;

}
.footer {
  height: 50px;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}
.footer a {
  color: white;
}
