@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --main-bg-color: purple;
  --font1: "Baloo Bhai 2", cursive;
  --font2: "Roboto", sans-serif;
}

.font1 {
  font-family: var(--font1);
}
.font2 {
  font-family: var(--font2);
}

.max-width-1 {
  max-width: 80vw;
}
.max-width-2 {
  max-width: 60vw;
}

.m-auto {
  margin: auto;
}
.my-2{
    margin-bottom: 32px;
    margin-top: 32px;
}

.btn {
  padding: 0 18px;
  padding-top: 2.5px;

  border: 2px solid black;
  border-radius: 8px;
  font-family: var(--font1);
  font-size: 16px;
  cursor: pointer;
  transition: all 1.3s ease-in-out;
}
.btn:hover {
  color: white;
  background-color: var(--main-bg-color);
}
.form-input {
  padding: 0px 5px;
  font-size: 16px;
  border: 2px solid black;
  margin: 0 13px;
  font-family: var(--font1);
}
